.AppContainer{
  width: 550px;
  height: 853px;
  border: 1px solid black;
}

.navigation{
  margin: 20px;
}

.img{
  margin: 0 auto;
  text-align: center;
}

.img img{
  width: 395;
  height: 232px;
}