@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.AppContainer{
  width: 550px;
  height: 853px;
  font-family: 'Poppins';
  margin: 5px auto;
  background: #eeeeee;
}

.navigation{
  background: #FFFFFF;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.navigation img{
  margin: 20px;
}

.heroPart{
  display: flex;
  flex-direction: column;
  margin-top: 26px;
}

.img{
  margin: 0 ;
  width: 395px;
  height: 232px;
  align-self: center;
}

.heroPart .textPart{
  margin-left:36px;
  width: 347px;
}

.heroPart h2{
  font-size: 36px;
  line-height: 110%;
  color: #000000;
  height: 40px;
  margin: 0 0 0 0;
  margin-top: 36px;
}

.textPart p{
  font-size: 16px;
  line-height: 110%;
  width: 320px;
  color: #222222;
}

.card{
  margin-right: 18px;
  width: 176px;
  font-size: 12px;
}

.card_container{
  display: flex;
  margin-left: 37px;

}

.card span{
  padding-right: 2px;
}

.cardStar{
  padding-right: 2px;
}

.gray{
  color: #918E9B;
}

.bold{
  font-weight: bold;
}

.card p{
  margin: 8px 0 0 0;
}

.card .cardImg{
  width: 176px;
  height: 235px;
}